<section class="container container-about">
    <div class="row">
        <div class="col-sm-12 col-md-6">
          <h2>Kuka</h2>

            <p>
                Olen Marko Sahlman, filmi- ja märkälevykuvaaja Joensuusta.
            </p>

            <p>

            </p>
        </div>
        <div class="col-sm-12 col-md-6">
          <h2>Märkälevytekniikka</h2>

            <p>
                Märkälevykuvaus keksittiin vuonna 1851 Englannissa. Keksijänä pidetään Frederick Scott Archeria ja vajaassa kymmenessä vuodessa märkälevy syrjäytti lähes kokonaan aikaisemman valokuvaustavan, jota kutsuttiin dagerrotypiaksi. Suomessa ensimmäinen dagerrotypiavalokuva otettiin vuonna 1842.
            </p>
            <p>
                Märkälevykuvaus vaatii paljon valoa, kuvaus voidaan tehdä kesällä ulkona tai studiossa käyttäen voimakkaita salamavaloja. Täytyy kuitenkin muistaa, että kuvaus voidaan suorittaa ainoastaan pimiön lähettyvillä. Tällä hetkellä pimiö sijaitsee studiollani Joensuun Pilkossa.
            </p>
        </div>
    </div>
</section>
