<section class="container container-contactform">

<form id="contactform" action="https://formspree.io/marko@sahlman.me" method="POST">
<div class="row">
  <h2>Jätä viesti</h2>

  <p>Viestin lähettämisen jälkeen sinut ohjataan formspree sivustolle, joka tarkistaa että et ole robotti :)</p>
  <hr/>
  <div id="message"></div>
  <div class="col-md-12">
  <input id="email" type="email" name="email" value="" placeholder="sähköpostiosoite"/>
  </div>
</div>
<div class="row">

  <div class="col-md-12">
    <input id="tel" type="tel" name="tel" value="" placeholder="Puhelinnumero"/>
    <div>
</div>
<div class="row">
  <div class="col-md-12">
    <textarea id="msg" placeholder="Viesti" name="msg" rows="10" cols="20"></textarea>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

  <input id="sendContactForm "type="submit" class="btn-success pull-left" value="Lähetä"/>
  </div>
</div>
</form>

</section>
