<section class="container container-prices">
    <div class="row">
        <div class="col-md-12">
            <h2>Hinnasto</h2>

            <p>
              Märkälevykuvat kuvataan ja valmistetaan käsityönä studiollani Joensuun Pilkossa.
              Kysy lisää soittamalla, sähköpostilla tai whatsappilla.
            </p>
        </div>


        <div class="col-md-12">
          <table class="table table-striped">
            <thead class="thead-light">
            <tr>
              <th scope="col">Koko</th>
              <th scope="col">Hinta</th>
            </tr>
          </thead>
            <tbody>
              <tr>
               <td>1 kpl 10x13cm (4x5") märkälevykuva</td>
               <td>50 &euro;</td>
             </tr>
             <tr>
              <td>2 kpl 10x13cm (4x5") märkälevykuva</td>
              <td>90 &euro;</td>
            </tr>
             <tr>
              <td>1 kpl 18x24cm (7x9") märkälevykuva</td>
              <td>120 &euro;</td>
            </tr>
            <tr>
             <td>2 kpl 18x24cm (7x9") märkälevykuva</td>
             <td>210 &euro;</td>
           </tr>
           <tr>
            <td>Lahjakortti potrettikuvaukseen</td>
            <td>Kysy!</td>
          </tr>
           <tr>
            <td>Kuvaus miljöössä (tulossa kesällä 2019)</td>
            <td>Kysy!</td>
          </tr>
            </tbody>
          </table>
          <p class="pull-right small">Toiminimi Valokuvaaja Marko Sahlman ei ole ALV-velvollinen. ALV:n osuus hinnassa 0%. Hintoihin ei lisätä arvonlisäveroa.</p>
        </div>

    </div>
</section>
